{% extends "main/base.html" %}


{% block title %}
Legal {{ super() }}
{% endblock %}


{% block content %}
<div class="mt-4">
  <div>
    <h1 class="post-h1">legal rubbish</h1>
    <img class="post-img dark-mode-manual" src="{{ url_for('main.static', filename='files/legal_rubbish.png', _external=True) }}" title="from page 3 of LaTeX's stmaryrd package docs (https://ctan.math.washington.edu/tex-archive/fonts/stmaryrd/stmaryrd.pdf)">
    <p><em>last changed: <span class="flask-moment" data-timestamp="2026-06-07T20:16:00Z" data-function="format" data-format="Y/M/D" data-refresh="0" style="display: none"></span></em></p>
  </div>
  <div>
    <h2 class="post-h2">privacy</h2>
    <p>there are no trackers. zero. check your cookies and <code>localStorage</code> if you don't believe me. the only money i make off this site is -$11.18 a year for the domain, and i intend to keep it that way :3</p>
  </div>
  <div>
    <h2 class="post-h2">copyright</h2>
    <p>(scawwy &gt;⩊&lt;)</p>
    <p>blogposts are licensed under Creative Commons <a href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank">CC BY-SA 4.0</a>: you may share and adapt them for any purpose, as long as you give credit and distribute any modified versions under the same license ^^</p>
    <p>on the other hand, images in my blogposts are generally classified into three types based on the provided attribution and licensing information, which can either be found in the content of the blogpost or in the alt/title text of the image (which appears if you hover over it):</p>
    <ul>
      <li>attribution with licensing/copyright information: i am allowed to use these images by the license that I got them under (e.g. Creative Commons or public domain). if i made any changes to them, the new images are distributed under the same license they originally used (or be public domain if they were originally public domain).</li>
      <li>attribution without licensing/copyright information: these images are copyrighted and i am only using them under fair use. these may be figures from papers, for instance. if you believe my usage does not constitute fair use, follow the instructions in the "contact me" section below.</li>
      <li>no attribution or licensing/copyright information: these images were made by me. they are released under the same license that applies to blogposts; see above.</li>
      </li>
    </ul>
  </div>
  <div>
    <h2 class="post-h2">fonts</h2>
    <p><b>default font:</b> the default font used on this blog is mostly based on <a href="https://fonts.google.com/specimen/Quicksand" target="_blank">Quicksand</a> by Andrew Paglinawan, but with the following tweaks:</p>
    <ul>
      <li>The "3" glyph (:3) is my own tweaked version based on the font <a href="https://fonts.google.com/specimen/Dongle" target="_blank">Dongle</a> by Yanghee Ryu.</li>
      <li>The "w" glyph (&gt;w&lt;) is my own tweaked version based on the font <a href="https://fonts.google.com/specimen/Hachi+Maru+Pop" target="_blank">Hachi Maru Pop</a> by Nonty.</li>
    </ul>
    <p>Quicksand, Dongle, and Hachi Maru Pop are all licensed under the <a href="https://openfontlicense.org/open-font-license-official-text/" target="_blank">SIL Open Font License, Version 1.1</a>; in accordance with its terms, my modified font is also distributed under the same license.</p>
    <p><b>"silly" font</b> (the font used when the ":3" switch in the navigation bar is toggled): Hachi Maru Pop (mentioned above), unmodified.</p>
    <p><b>code/monospace font:</b> [Maple Mono](https://github.com/subframe7536/maple-font), also distributed under the SIL Open Font License, Version 1.1., unmodified.
  </div>
  <div>
    <h2 class="post-h2">contact me</h2>
    <p>if i made an oopsie (like using an image i shouldn't have), just leave a comment under the post and i'll take a look :3</p>
</div>
{% endblock %}
