{% extends "main/base.html" %}


{% block title %}
Legal {{ super() }}
{% endblock %}


{% block content %}
<div class="mt-4">
  <div>
    <h1 class="post-h1">Legal rubbish</h1>
    <img class="post-img dark-mode-manual" src="{{ url_for('main.static', filename='files/legal_rubbish.png', _external=True) }}" title="from page 3 of LaTeX's stmaryrd package docs (https://ctan.math.washington.edu/tex-archive/fonts/stmaryrd/stmaryrd.pdf)">
    <p><em>Last changed: <span class="flask-moment" data-timestamp="2025-10-03T12:00:00Z" data-function="format" data-format="ll" data-refresh="0" style="display: none">2025-10-03T12:00:00Z</span></em></p>
  </div>
  <div>
    <h2 class="post-h2">Privacy</h2>
    <p>There are no trackers. Zero. Check your cookies and <code>localStorage</code> if you don't believe me. Also, the only money I make off this site is -$11.18 a year for the domain, and I intend to keep it that way.</p>
  </div>
  <div>
    <h2 class="post-h2">Copyright</h2>
    <p>(scawwy 0~0)</p>
    <p>Images in my blogposts are generally classified into three types based on the provided attribution and licensing information, which can either be found in the content of the blogpost or in the alt/title text of the image (which appears if you hover over it):</p>
    <ul>
      <li>Attribution with licensing/copyright information: I am allowed to use these images by the license that I got them under (typically Creative Commons/public domain). These images shall continue to have the same license (or be public domain if they were originally public domain).</li>
      <li>Attribution without licensing/copyright information: these images are copyrighted and I am only using them under fair use. These may be figures from papers, for instance. If you believe my usage does not constitute fair use, follow the instructions in the "Contact me" section below.</li>
      <li>
        <p>No attribution or licensing/copyright information: these images were made by me. They are released under Creative Commons <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">CC0</a>:</p>
        <blockquote>
            <p>The person who associated a work with this deed has dedicated the work to the public domain by waiving all of his or her rights to the work worldwide under copyright law, including all related and neighboring rights, to the extent allowed by law.</p>
          <p>You can copy, modify, distribute and perform the work, even for commercial purposes, all without asking permission.</p>
        </blockquote>
        <p>In other words, no rights are reserved (this is essentially public domain, except it's apparently more universal across different jurisdictions).</p>
      </li>
    </ul>
    <p>If you want to share large portions of text from a blogpost, just provide a link to my original post—no need to ask permission. (Links would also be appreciated for my images, but they are not required :D)</p>
  </div>
  <div>
    <h2 class="post-h2">Font</h2>
    <p>The default font used on this blog is a modified version of <a href="https://fonts.google.com/specimen/Quicksand?preview.text=meow%20:3" target="_blank">Quicksand</a> by Andrew Paglinawan, with the "3" glyph (:3) being my own tweaked version based on the font <a href="https://fonts.google.com/specimen/Dongle/license?preview.text=meow%20:3" target="_blank">Dongle</a> by Yanghee Ryu. Both Quicksand and Dongle are licensed under the <a href="https://openfontlicense.org/open-font-license-official-text/" target="_blank">SIL Open Font License, Version 1.1</a>, and in accordance with its terms, my modified font is also distributed under the same license.</p>
  </div>
  <div>
    <h2 class="post-h2">Contact me</h2>
    <p>If I made an oopsie (like using an image I shouldn't have), just leave a comment under the post and I'll take a look :3</p>
    <p>meow meow meow meow meow meow meow meow meow meow meow meow :3</p>
</div>
{% endblock %}
