# need `_LOCAL` here or else it'll override the base anubis's variable when it's included
PATH_TO_ROOT_DOCKER_PROJ_LOCAL=../../../../
PATH_FROM_ROOT_TO_ANUBIS=proxy/anubis/

# for extending base anubis service
ANUBIS_CONFIG_SRC_FILES=proxy/anubis/data/cfg/* services/personal_website/deployment/anubis/data/cfg/*
ANUBIS_CONFIG_DEST_DIR=/data/cfg/
ANUBIS_PRIVKEY_SRC_FILE=services/personal_website/deployment/anubis/data/cfg/anonymousrand.xyz_privkey
ANUBIS_PRIVKEY_DEST_FILE=/data/cfg/anonymousrand.xyz_privkey
ANUBIS_POLICY_DEST_FILE=/data/cfg/personal_website.yaml

PERSONAL_WEBSITE_ANUBIS_IN_SCKT=<...>
PERSONAL_WEBSITE_ANUBIS_OUT_SCKT=<...>
