SITE_DOMAIN=anonymousrand.xyz

# mainly for docker
PATH_TO_ROOT_DOCKER_PROJ=../../
PATH_FROM_ROOT_TO_NGINX=proxy/nginx/
PATH_FROM_ROOT_TO_IOCAINE=proxy/iocaine/

PERSONAL_WEBSITE_SCKT=<...>
PERSONAL_WEBSITE_MYSQL_SCKT=<...>

# for docker to assemble the database connnection url
MYSQL_USERNAME=anonymousrand
MYSQL_PASSWORD=solarwinds123
MYSQL_DB_NAME=personal_website
MYSQL_CHARSET=utf8mb4

# only for local, manual connections from the host (e.g. for testing or manual db edits)
SECRET_KEY=<...>
DATABASE_URL=mysql+pymysql://anonrand:solarwinds123@localhost/personal_website?unix_socket=<...>&charset=utf8mb4
