[Unit]
Description=periodic backup of personal website's blogpost images

[Service]
Type=oneshot
User=<REPLACE: linux user that can git push, like the current SSH user>
WorkingDirectory=<REPLACE: absolute path to `backup_scripts/` directory>
ExecStart=/usr/bin/env bash image_backup.sh
