[Unit]
Description=periodic backup of personal website's blogpost images

[Service]
Type=oneshot
# this user must have git credentials!
User=<REPLACE: preferably non-root user>
WorkingDirectory=<REPLACE: absolute path to `backup_scripts/` directory>
ExecStart=/usr/bin/env bash image_backup.sh
