[Unit]
Description=Timer for `personal_website_image_backup`
After=network.target

[Timer]
OnUnitActiveSec=1d
OnBootSec=1d
Persistent=true

[Install]
WantedBy=timers.target
