[Unit]
Description=Timer for `personal_website_db_backup_2`
After=network.target

[Timer]
OnUnitActiveSec=2d
OnBootSec=2d
Persistent=true

[Install]
WantedBy=timers.target
