{% import "bootstrap_wtf.html" as wtf %}

{% for comment in comments recursive %}
  {% if comment.depth == loop.depth0 %}
    {% if comment.depth > 0 %}
      <div class="ms-3">
    {% endif %}

    {% set descendants = comment.get_descendants(post) %}
    {% if comment.author|trim == config["VERIFIED_AUTHOR"] %}
      <div id="comment-{{ comment.id }}" class="comment card mt-{% if comment.depth == 0 %}3{% else %}1{% endif %} border--custom-orange border--3px">
        <div class="card-body pb-2">
          <h3 class="d-flex align-items-center mb-3 border-b border--1px border--lightgray pb-3 fs-7">
            {{ comment.author }}<i class="bi bi-check-circle ms-2" title="actually verified, unlike twitter &gt;:3"></i>
          </h3>
    {% else %}
      <div id="comment-{{ comment.id }}" class="comment card mt-{% if comment.depth == 0 %}3{% else %}1{% endif %}{% if current_user.is_authenticated and comment.is_unread %} border--custom-pink-deep-xlight{% endif %} border--3px">
        <div class="card-body pb-2">
          <h3 class="mb-3 border-b border--1px border--lightgray pb-3 fs-7">{{ comment.author }}</h3>
    {% endif %}
          <div class="comment__content mb-3">{{ comment.content|safe }}</div>
          <div class="mb-1 dimgray fs-10">{{ moment(comment.timestamp).format("ll") }} ({{ moment(comment.timestamp).fromNow() }})</div>
          
          {% if comment.depth < 6 %}
            <button id="comment__reply-btn-{{ comment.id }}" class="comment__reply-btn btn btn-link btn-link--custom-orange-xdeep underline-on-hover-only" type="button">Reply</button>
            {{ wtf.quick_form(add_comment_form, id="comment__add-reply-form-" ~ comment.id, class="comment__add-form mt-3 mb-2", hidden=true) }}
          {% else %}
            <p class="comment__nest-limit-text mb-0 custom-orange-deep">It's gonna get ugly if you keep replying…</p>
          {% endif %}

          <div class="d-flex align-items-center"{% if not current_user.is_authenticated %} hidden{% endif %}>
            <button id="comment__make-edit-btn-{{ comment.id }}" class="comment__make-edit-btn btn btn-link btn-link--custom-pink-deep-xlight d-inline-block underline-on-hover-only show-when-logged-in" type="button">Edit</button><span class="pipe--0_85em mx-2 custom-pink-deep-xlight"></span><button id="comment__delete-btn-{{ comment.id }}" class="comment__delete-btn btn btn-link btn-link--custom-pink-deep-xlight d-inline-block underline-on-hover-only show-when-logged-in" type="button">Delete</button>
          </div>
        </div>
      </div>

      {% if descendants %}
        {{ loop(descendants) }}
      {% endif %}

    {% if comment.depth > 0 %}
      </div>
    {% endif %}
  {% endif %}
{% endfor %}
