/**********/
/* Colors */
/**********/

.black {
    color: var(--black) !important;
}

.blue {
    color: var(--blue) !important;
}

.dimgray {
    color: var(--dimgray) !important;
}

.gray {
    color: var(--gray) !important;
}

.red {
    color: var(--red) !important;
}

.custom-blue-deep-dark {
    color: var(--custom-blue-deep-dark) !important;
}

.custom-orange-deep {
    color: var(--custom-orange-deep) !important;
}

.custom-pink-shallow-xlight {
    color: var(--custom-pink-shallow-xlight) !important;
}

.custom-pink-shallow-xxlight {
    color: var(--custom-pink-shallow-xxlight) !important;
}

/********/
/* Font */
/********/

/* override all Bootstrap `fs` classes */
.fs-1 {
    font-size: calc(1.46em + 3.68vw) !important;
}

@media (min-width: 800px) {
    .fs-1 {
        font-size: 3.3em !important;
    }
}

.fs-2 {
    font-size: calc(1.4em + 3.2vw) !important;
}

@media (min-width: 800px) {
    .fs-2 {
        font-size: 3em !important;
    }
}

.fs-3 {
    font-size: calc(1.3em + 2.4vw) !important;
}

@media (min-width: 800px) {
    .fs-3 {
        font-size: 2.5em !important;
    }
}

.fs-4 {
    font-size: calc(1.25em + 2vw) !important;
}

@media (min-width: 800px) {
    .fs-4 {
        font-size: 2.25em !important;
    }
}

.fs-5 {
    font-size: calc(1.2em + 1.6vw) !important;
}

@media (min-width: 800px) {
    .fs-5 {
        font-size: 2em !important;
    }
}

.fs-6 {
    font-size: calc(1.15em + 1.2vw) !important;
}

@media (min-width: 800px) {
    .fs-6 {
        font-size: 1.75em !important;
    }
}

.fs-7 {
    font-size: calc(1.1em + 0.8vw) !important;
}

@media (min-width: 800px) {
    .fs-7 {
        font-size: 1.5em !important;
    }
}

.fs-8 {
    font-size: calc(1.05em + 0.4vw) !important;
}

@media (min-width: 800px) {
    .fs-8 {
        font-size: 1.25em !important;
    }
}

.fs-9 {
    font-size: calc(1.025em + 0.2vw) !important;
}

@media (min-width: 800px) {
    .fs-9 {
        font-size: 1.125em !important;
    }
}

.fs-10 {
    font-size: 0.875em !important;
}

/*************/
/* Box Model */
/*************/

.me-0_75rem {
    margin-right: 0.75rem !important;
}

.p-mb-0 p {
    margin-bottom: 0 !important;
}

.pt-0_75rem {
    padding-top: 0.75rem !important;
}

.pb-0_75rem {
    padding-bottom: 0.75rem !important;
}

.w-2rem {
    width: 2rem !important;
}

.w-2_5em {
    width: 2.5em !important;
}

.w-max-content {
    width: max-content !important;
}

/* can't use descendant selector; must strictly be last child of last child of ... etc. */
/* CSS was invented by a troglodyte who took a gamma ray burst to the brain */
.last-child-no-mb > :last-child,
.last-child-no-mb > :last-child > :last-child,
.last-child-no-mb > :last-child > :last-child > :last-child,
.last-child-no-mb > :last-child > :last-child > :last-child > :last-child {
    margin-bottom: 0 !important;
}

/********/
/* Flex */
/********/

.flex-equal-children > * {
    flex: 1 !important;
}

.flex-basis-75 {
    flex-basis: 75% !important;
}

/************/
/* `border` */
/************/

.border--1px {
    border-width: 1px !important;
}

.border--2px {
    border-width: 2px !important;
}

.border--4px {
    border-width: 4px !important;
}

.border--6px {
    border-width: 6px !important;
}

.border-b {
    border-bottom-style: solid !important;
}

.border--colorful {
    border-color: transparent !important;
    border-image: conic-gradient(
        var(--custom-orange-light) 62.5deg,
        var(--custom-green-light) 85deg,
        var(--custom-green-light) 95deg,
        var(--custom-blue-xxlight) 112.5deg,
        var(--custom-blue-xxlight) 242.5deg,
        var(--custom-pink-xlight) 260deg,
        var(--custom-pink-xlight) 280deg,
        var(--custom-orange-light) 312.5deg
    ) 1 !important;
    /* use when `background-clip` is better supported for `border-radius` support
    background: conic-gradient(
        var(--custom-orange-light) 62.5deg,
        var(--custom-green-light) 85deg,
        var(--custom-green-light) 95deg,
        var(--custom-blue-xxlight) 112.5deg,
        var(--custom-blue-xxlight) 242.5deg,
        var(--custom-pink-xlight) 260deg,
        var(--custom-pink-xlight) 280deg,
        var(--custom-orange-light) 312.5deg
    ) border-box;
    background-clip: border-area;
    */
}

.border--custom-green {
    border-color: var(--custom-green) !important;
}

.border--custom-orange {
    border-color: var(--custom-orange) !important;
}

.border--lightgray {
    border-color: var(--lightgray) !important;
}

/*********/
/* `btn` */
/*********/

.btn:not(.btn-link, .nav-link) {
    border-width: 3px;
    border-style: solid;
}

.btn--custom-orange-light {
    border-color: var(--custom-orange-deep) !important;
    background-color: var(--custom-orange-light) !important;
    color: black !important;
}

.btn--custom-orange-light:hover {
    background-color: var(--custom-orange) !important;
}

/**************/
/* `btn-link` */
/**************/

.btn-link--custom-orange-xdeep {
    color: var(--custom-orange-xdeep) !important;
}

.btn-link--custom-orange-xdeep:hover {
    color: var(--custom-orange-xxdeep) !important;
}

.btn-link--custom-pink-shallow-xlight {
    color: var(--custom-pink-shallow-xlight) !important;
}

.btn-link--custom-pink-shallow-xlight:hover {
    color: var(--custom-pink-shallow-light) !important;
}

/**********/
/* `link` */
/**********/

.link--discreet,
.link--discreet .MathJax * {
    text-decoration: underline !important;
    text-decoration-style: dotted !important;
    text-decoration-color: currentcolor !important;
    color: var(--dimgray) !important;
}

.link--discreet:hover,
.link--discreet:hover .MathJax * {
    color: var(--dimmergray) !important;
}

.link--custom-blue-xdeep {
    text-decoration-color: currentcolor !important;
    color: var(--custom-blue-xdeep) !important;
}

.link--custom-blue-xdeep:hover {
    color: var(--custom-blue-xxdeep) !important;
}

.link--custom-green-deep-dark {
    text-decoration-color: currentcolor !important;
    color: var(--custom-green-deep-dark) !important;
}

.link--custom-green-deep-dark:hover {
    color: var(--custom-green-deep-xdark) !important;
}

.link--custom-orange-deep {
    text-decoration-color: currentcolor !important;
    color: var(--custom-orange-deep) !important;
}

.link--custom-orange-deep:hover {
    color: var(--custom-orange-xdeep) !important;
}

.link--custom-pink-shallow-xlight {
    text-decoration-color: currentcolor !important;
    color: var(--custom-pink-shallow-xlight) !important;
}

.link--custom-pink-shallow-xlight:hover {
    color: var(--custom-pink-shallow-light) !important;
}

.link--custom-pink-shallow-xxlight {
    text-decoration-color: currentcolor !important;
    color: var(--custom-pink-shallow-xxlight) !important;
}

.link--custom-pink-shallow-xxlight:hover {
    color: var(--custom-pink-shallow-xlight) !important;
}

/***************/
/* `underline` */
/***************/

.underline--custom-pink-shallow-xxlight {
    text-decoration-color: var(--custom-pink-shallow-xxlight) !important;
}

/*********/
/* Other */
/*********/

.cell--left-header {
    border-right-width: 3px !important;
    border-right-style: double !important;
    background-color: whitesmoke !important;
}

.cell--top-header {
    border-bottom-width: 3px !important;
    border-bottom-style: double !important;
    background-color: whitesmoke !important;
}

.extend-off-page {
    white-space: nowrap;
    overflow: hidden;
    /* extend exactly to edge of screen and clip */
    width: calc(
        var(--container-content-width) + var(--container-content-padding-x) + /* distance to edge of main container */
        (100svw - var(--container-content-max-width)) / 2 /* distance from edge of main container to edge of screen */
    );
}

.min-svh-100 {
    min-height: 100svh !important;
}

.pipe--0_85em {
    border-left: 2px solid !important;
    height: 0.85em;
}

.pipe--1_5em {
    border-left: 2px solid !important;
    height: 1.5em;
}

/* use classes like `post-h1` to mimic post h1 styling outside of posts */
.post-h1,
:is(.post__content, .comment__content) h1 {
    margin-bottom: 1rem;
    border-bottom: 3px solid currentcolor;
    padding-bottom: 0.5rem;
    color: var(--custom-pink-shallow-xxlight);
    font-size: calc(1.3rem + 2.4vw); /* fs-3 */
}

@media (min-width: 800px) {
    .post-h1,
    :is(.post__content, .comment__content) h1 {
        font-size: 2.5rem;
    }
}

.post-h2,
:is(.post__content, .comment__content) h2 {
    margin-bottom: 1rem !important;
    border-bottom: 2px solid currentcolor;
    padding-bottom: 0.25rem;
    color: var(--custom-blue-deep-dark);
    font-size: calc(1.2rem + 1.6vw); /* fs-5 */
}

@media (min-width: 800px) {
    .post-h2,
    :is(.post__content, .comment__content) h2 {
        font-size: 2rem;
    }
}

.post-h3,
:is(.post__content, .comment__content) h3 {
    margin-bottom: 1rem;
    font-size: calc(1.15rem + 1.2vw); /* fs-6 */
}

@media (min-width: 800px) {
    .post-h3,
    :is(.post__content, .comment__content) h3 {
        font-size: 1.75rem;
    }
}

.post-img,
:is(.post__content, .comment__content) img {
    display: block;
    margin: 1rem auto 1rem auto;
    border: 1px solid transparent;
    max-width: 100%;
}

.post-img:hover,
:is(.post__content, .comment__content) img:hover {
    border-color: var(--gray) !important;
}

/* post images are 100% width if not specified in `width` attribute */
.post-img,
:is(.post__content, .comment__content) img:not([width]) {
    width: 100%;
}

.redacted {
    background-color: black !important;
    color: black !important;
}

.scroll-overflow-x {
    margin-bottom: 0.5rem !important;
    overflow-x: auto !important;
    overflow-y: hidden !important; /* for MathJax equation environments with `\\[pt]` extra line spacing */
}

.silly-mode {
    font-family: "Hachi Maru Pop", sans-serif;
    font-size: 14px;
}

.spoiler,
.spoiler * {
    background-color: gainsboro !important;
    text-decoration-color: transparent !important;
    color: transparent !important;
    transition: background-color 0.4s, color 0.4s !important;
}

.spoiler:hover,
.spoiler:hover * {
    background-color: transparent !important;
    text-decoration-color: unset !important;
    color: unset !important;
}

/* need specificity gah i freaking hate css. it is a lawless land that would make even the toughest anarchist cower. */
.form-switch .switch--navbar {
    margin-top: 0;
    border-color: var(--lightgray);
    background-color: var(--switch-background);
    width: 2.5rem;
    height: 1.25rem;
}

.form-switch .switch--navbar:checked {
    background-color: var(--custom-pink-xshallow-xxlight) !important;
}

.text-overflow-ellipsis {
    text-overflow: ellipsis !important;
}

.underline-on-hover-only {
    text-decoration-line: none !important;
}

.underline-on-hover-only:hover,
.underline-on-hover-only:hover .MathJax * {
    text-decoration-line: underline !important;
}
