:root {
    /* custom colors */                       /* h  , s  , v   */ /* (by Google color picker rounding) */

    --custom-blue: #00eaff;                   /* 185, 100, 100 */
    --custom-blue-light: #59f1ff;             /* 185, 65 , 100 */
    --custom-blue-xlight: #80f4ff;            /* 185, 50 , 100 */
    --custom-blue-xxlight: #bffaff;           /* 185, 25 , 100 */
    --custom-blue-deep: #00d5ff;              /* 190, 100, 100 */
    --custom-blue-deep-dark: #00ccf5;         /* 190, 100, 96  */
    --custom-blue-deep-light: #73e8ff;        /* 190, 55 , 100 */
    --custom-blue-deep-xlight: #8cecff;       /* 190, 45 , 100 */
    --custom-blue-xdeep: #00bfff;             /* 195, 100, 100 */
    --custom-blue-xxdeep: #00a6ff;            /* 201, 100, 100 */

    --custom-green: #b7ff00;                  /* 77 , 100, 100 */
    --custom-green-light: #c9ff40;            /* 77 , 75 , 100 */
    --custom-green-xlight: #d7ff73;           /* 77 , 55 , 100 */
    --custom-green-deep: #8cff00;             /* 87 , 100, 100 */
    --custom-green-deep-dark: #76d600;        /* 87 , 100, 84  */
    --custom-green-deep-xdark: #6fc900;       /* 87 , 100, 79  */
    --custom-green-deep-xxdark: #68bd00;      /* 87 , 100, 74  */

    --custom-orange: #ffd500;                 /* 50 , 100, 100 */
    --custom-orange-light: #ffdf40;           /* 50 , 75 , 100 */
    --custom-orange-xlight: #ffec8c;          /* 50 , 45 , 100 */
    --custom-orange-shallow-light: #fff04d;   /* 55 , 70 , 100 */
    --custom-orange-deep: #ffb700;            /* 43 , 100, 100 */
    --custom-orange-deep-light: #ffc226;      /* 43 , 85 , 100 */
    --custom-orange-xdeep: #ff9d00;           /* 37 , 100, 100 */
    --custom-orange-xxdeep: #ff8800;          /* 32 , 100, 100 */

    --custom-pink: #ff0080;                   /* 330, 100, 100 */
    --custom-pink-light: #ffbfdf;             /* 330, 25 , 100 */
    --custom-pink-xlight: #ffcce6;            /* 329, 20 , 100 */
    --custom-pink-shallow: #ff0099;           /* 324, 100, 100 */
    --custom-pink-shallow-light: #ff4db8;     /* 324, 70 , 100 */
    --custom-pink-shallow-xlight: #ff73c7;    /* 324, 55 , 100 */
    --custom-pink-shallow-xxlight: #ff8fd2;   /* 324, 44 , 100 */
    --custom-pink-shallow-xxxlight: #ffb3e0;  /* 324, 30 , 100 */
    --custom-pink-shallow-xxxxlight: #ffe3f4; /* 324, 11 , 100 */
    --custom-pink-xshallow: #ff00d4;          /* 310, 100, 100 */
    --custom-pink-xshallow-light: #ffa8f1;    /* 310, 34 , 100 */
    --custom-pink-xshallow-xlight: #ffbff4;   /* 310, 25 , 100 */
    --custom-pink-xshallow-xxlight: #ffd1f7;  /* 310, 18 , 100 */

    /* these are existing colors in HTML, but they're so that DarkReader generates a dark mode variable for them that we can then override in one go */
    --black: black;
    --black-darkmode: white;
    --blue: blue;
    --blue-darkmode: cyan;
    --dimgray: dimgray;
    --dimgray-darkmode: #c7bfb3;              /* 36 , 10 , 78  */ /* (try to get to h = 36 on grays to mimic original DarkReader) */
    --dimmergray: #282828;
    --dimmergray-darkmode: #d9d4cc;           /* 37 , 6  , 85  */
    --gray: gray;
    --gray-darkmode: #c7c1b7;                 /* 38 , 8  , 78  */
    --lightgray: lightgray;
    --lightgray-darkmode: gray;
    --red: red;
    --red-darkmode: red;

    --default-link-color: var(--custom-blue-xdeep);
    --default-link-color-darkmode: var(--custom-green-light);
    --default-link-hover-color: var(--custom-blue-xxdeep);
    --default-link-hover-color-darkmode: var(--custom-green-xlight);
    --default-link-disabled-color: var(--custom-blue);
    --default-link-disabled-color-darkmode: var(--custom-green-deep-xxdark);
    --switch-background: #f0f0f0;
    --switch-background-darkmode: white;

    /* other */

    --container-content-max-width: min(672px, 100vw);
}

/* for scoping issues on accessing `--bs-gutter-x` */
.container--content {
    --container-content-padding-x: calc(0.5 * var(--bs-gutter-x));
    --container-content-width: calc(var(--container-content-max-width) - 2 * var(--container-content-padding-x));
}
